.meal_box {
  width: 100%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 16px 16px;
  gap: 16px;
  margin: 16px 0px;
}
.meal_box button {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meal_box_in_basket div {
  display: flex;
  gap: 16px;
  padding: 16px 16px;
}
